@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --bg-color-dois: #323946;
    --text-color: #fff;
    --mais-color: #782e8f;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.ativo {
    color: var(--mais-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    padding: 10rem 5% 2rem; /* reduz lateral esquerda e direita */
    padding-top: 18rem;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center; /* centraliza tudo */
    gap: 20rem;              /* deixa mais juntinho */
    width: 100%;
}


/* Texto */
.home-text {
    max-width: 45rem;
}

.home-text h1 {
    font-size: 5rem;
    font-weight: 700;
}

.home-text h3 {
    font-size: 2rem;
}

.home-text h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--mais-color);
}

.home-text p {
    font-size: 1.4rem;
    margin: 1rem 0 2rem;
}

/* Ícones sociais e botão (se quiser ajustar) */
.social-media {
    margin-top: 1.5rem; /* diminui o espaço */
    margin-bottom: 1.8rem;
    display: flex;
    gap: 1.2rem; /* diminui espaço entre ícones */
    align-items: center;
}

.social-media a {
    width: 40px;
    height: 40px;
    border: 2px solid var(--mais-color);
    color: var(--mais-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* deixa redondo */
    box-shadow: 0 0 1rem var(--mais-color);
    font-size: 2rem;
    transition: .3s;
}

.social-media a:hover {
    background: var(--mais-color);
    color: var(--text-color);
    transform: translateY(-3px);
}

/* Imagem */
.inicio-img img {
    width: 500px;        /* ajusta o tamanho */
    border-radius: 50%;  /* deixa redonda */
    display: block;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--mais-color);
    color: var(--text-color);
    font-size: 1.6rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 1rem var(--mais-color);
    color: var(--bg-color-dois);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}