@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ebd9f5;
    --bg-color-dois: #eecbfa;
    --text-color: #000000;
    --mais-color: #8605ff;
    --icones: #8605ff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.ativo {
    color: var(--mais-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    padding: 10rem 5% 2rem;
    padding-top: 18rem;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    width: 100%;
}

.home-text {
    max-width: 45rem;
}

.home-text h1 {
    font-size: 5rem;
    font-weight: 700;
}

.home-text h3 {
    font-size: 2rem;
}

.home-text h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--icones);
}

.home-text p {
    font-size: 1.4rem;
    margin: 1rem 0 2rem;
}

.social-media {
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.social-media a {
    width: 40px;
    height: 40px;
    border: 2px solid var(--icones);
    color: var(--icones);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--mais-color);
    font-size: 2rem;
    transition: .3s;
}

.social-media a:hover {
    background: var(--icones);
    color: var(--text-color);
    transform: translateY(-3px);
}

.inicio-img img {
    width: 500px;
    border-radius: 50%;
    display: block;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--icones);
    color: var(--text-color);
    font-size: 1.6rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 1rem var(--icones);
    color: var(--bg-color-dois);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background: var(--bg-color-dois);
    min-height: 110vh;
    padding: 12rem 9% 10rem;
}

.about-img img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

.about-content {
    max-width: 600px;
}

.about-content .heading {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.about-content .heading span {
    color: var(--mais-color);
}

.about-content h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: black;
}

.about-content p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.skills {
    padding: 10rem 9% 10rem;
    min-height: 120vh;
}

.skills .heading {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.skills .heading span {
    color: var(--mais-color);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-items: center;
    align-items: stretch;
    width: 100%;
}

.skills-box {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 2.5rem;
    text-align: center;
    width: 100%;
    max-width: 340px;
    min-height: 400px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
    transition: .3s;
}

.skills-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.35);
}

.skills-icon {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: 2px solid var(--mais-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.5rem auto;
}

.skills-icon i {
    font-size: 2.6rem;
    color: var(--mais-color);
}

.skills-box h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.skills-box p {
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: center;
}

.projetos {
    padding: 8rem 9% 6rem;
    background: var(--bg-color-dois);
}

.projetos .heading {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.projetos .heading span {
    color: var(--mais-color);
}

.projetos-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2.5rem;
    justify-items: center;
}

.projetos-box {
    position: relative;
    max-width: 360px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    background: #000;
}

.projetos-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.projeto-layer {
    position: absolute;
    inset: 0;
    background: rgba(134, 5, 255, 0.9);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    opacity: 0;
    transition: .3s;
}

.projeto-layer h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.projeto-layer p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.projeto-layer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2rem;
}

.projetos-box:hover .projeto-layer {
    opacity: 1;
}

.contatos {
    padding: 8rem 9% 6rem;
}

.contatos .heading {
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.contatos .heading span {
    color: var(--mais-color);
}

.contatos-content {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}


.contatos-form {
    flex: 2;
}

.contatos-form .input-box {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.contatos-form input,
.contatos-form textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 1.4rem;
    background: #fff;
    color: var(--text-color);
}

.contatos-form textarea {
    resize: vertical;
    min-height: 14rem;
    margin-bottom: 2rem;
}

/* COLUNA DIREITA + LINHA FINA */
.contatos-info {
    flex: 1;
    padding-left: 3rem;
    border-left: 1px solid rgba(0,0,0,0.15);
}

.contatos-info h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contatos-info p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.contato-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.contato-item i {
    font-size: 2rem;
    color: var(--mais-color);
}

.contatos-form .btn {
    background: var(--icones);
    color: var(--bg-color-dois);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--icones);
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.contatos-form .btn:hover {
    box-shadow: none;
}

.footer {
    width: 100%;
    padding: 2rem 0;
    background: var(--bg-color);
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center; /* centraliza tudo horizontalmente */
    gap: 2rem;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTOP a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--icones);
    font-size: 2.5rem; 
    transition: .3s ease;
}

.footer-iconTOP a:hover {
    transform: translateY(-5px);
}
